@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}

.container {
    margin: 80px auto;
    background-color: white;
    width: 320px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgb(172, 172, 172);
}
.image-box {
    padding: 15px 0 0 0;
    margin:0 15px 0 15px;
    height: 470px;
    text-align: center;
}

h1 {
    padding: 25px 0 15px 0;
    margin:  0 10px 0 10px;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
}

p {
    margin:  0 10px 0 10px;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

.image {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 290px;
    border-radius: 10px;
}
